p {
  font-size: 20px;
  font-family: bold;
}

/* .avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
    font-weight: 700;
    font-size: 24px;
    padding: 10px;
    font-family: Roboto;
    text-align: center;
    margin-top:15px;
} */
.display-bold {
  font-weight: 800;
  font-family: serif;
  color: #003480;
}
/* .employee-navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
} */
.employee-container {
  background-color: aliceblue;
  max-height: 100%;
  min-height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media  (max-width: 600px) {
  .employee-container {
    padding: 5px;
  }
}
/* .company-logo-header{
    width:180px;
    
  } */

span {
  width: 210px;
  display: inline-block;
  font-weight: 300;
}
/* .back-to-home{
    margin-top: 20px;
    align-self: center;
    border: 0px;
    background-color: #003480;
    color: white;
    height: 45px;
    width: 170px;
    padding: 5px;
    border-radius: 5px;

} */
