.leave-management-container {
  background-color: aliceblue;
  min-height: 100vh;
  max-height: 100%;
  min-width: 100vw;
  max-width: 100%;
}
.widget-card-container {
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.widget-card {
  height: 100px;
  width: 150px;
  text-align: center;
  box-shadow: 1px 1px 10px #47b2e4;
  margin: 30px;
  padding-top: 20px;
}
.leave-history-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.apply-btn-container {
  align-self: flex-end;
}

.apply-leave-btn {
  border: none;
  margin-bottom: 10px;
  margin-right: 10px;
  height: 50px;
  width: 136px;
  background-color: #003480;
  font-size: 18px;
  color: white;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

.modal-container {
  position: absolute;
  background-color: white;
  font-family: serif;
  font-size: 22px;
  padding: 20px;
  right: 5%;
  top:20%;
  bottom: 10%;
  box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  animation: slide-in ease-in-out 0.5s;
 
}

@media (max-width: 600px) {
  .modal-container {
    position: absolute;
    background-color: white;
    padding: 20px;
    height: 600px;
    left: 5%;
    right: 5%;
    top: 20%;
    bottom: 5%;
    box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.2);
  }
  .widget-card{
    margin: 15px;
  }
 
}

@media (min-width: 769px) {
  .form-container {
    padding: 50px;
  }
}

.close-btn-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px;
}

.close-btn {
  border: none;
  color: red;
  background-color: transparent;
  font-size: 36px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .leave-history-container {
    margin: 20px;
  }
}

@keyframes slide-in {
  from{
    transform: translate(100%);
  }to{
    transform: translate(0%);
  }
}
.leave-header{
  font-size: 16px;
  color: #003480;
}