.nav-item-icon{
    font-size: 30px;
    margin-right: 25px;
  }

  .nav-item-container{
    height:40px;
    padding: 10px;
    padding-bottom: 15px;
  }

  .nav-item-container:hover{
    background-color: #043c84;
    color:white;
  }

 
  

  



  







